<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Favorite Kitty!</title>
    <base href="/index.html">
    <meta name = "viewport" content = "width=device-width, initial-scale = 1.0">
    <meta name="keywords" content="docker-compose, docker, stack">
    <meta name="author" content="Docker">
    <link rel='stylesheet' href="{{ url_for('static',filename='stylesheets/style.css') }}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>
  <body>
    <div id="content-container">
      <div id="content-container-center">
        <h1>Favorite Kitty!</h1>
        <form id="choice" name='form' method="POST" action="/">
          <button id="a" type="submit" name="vote" class="a" value="{{option_a.url}}">
            <img src="{{option_a.url}}">
          </button>
          <button id="b" type="submit" name="vote" class="b" value="{{option_b.url}}">
            <img src="{{option_b.url}}">
          </button>
        </form>
        <div id="hostname">
          Vote processed by {{hostname}}
        </div>
      </div>
    </div>
  </body>
</html>
