@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700,600);

*{
  box-sizing:border-box;
}
html,body{
  margin:0;
  padding:0;
  height:100%;
  font-family: 'Open Sans';
}

#content-container{
  z-index:2;
  position:relative;
  margin:0 auto;
  display:table;
  padding:10px;
  max-width:940px;
  height:100%;
}
#content-container-center{
  display:table-cell;
  text-align:center;
  vertical-align:middle;
}

#choice{
  line-height:1.3em;
  vertical-align:middle;
  font-size:25px;
  font-weight: 600;
}

#choice img {
  max-width: 400px;
  max-height: 350px;
  margin: 10px;
}

#choice .choice {
  background: #000;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fff;
  width: 450px;
}
